header{
    background-color: #DE5255; 
    display: inline-flex;
    margin: 0;
    }
logo{
    padding-top: 5px;
    padding-bottom: 5px;

    }
.name{
    padding-top: 20px;
    padding-left: 20px;
    color: white;
    }

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #868686;
    }

li{
    float: left;
    }

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

li a:hover{
    background-color: #111;
    }
footer{
    background-color: #DE5255; 
    display: inline-flex;
    color: white;
    align-content: center;
    }